<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modosa.switchnightui">

    <queries>
        <package android:name="com.modosa.apkinstaller" />
        <package android:name="com.modosa.unblockdarkmode" />
    </queries>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MODIFY_DAY_NIGHT_MODE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/appcenter_backup_rule"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="uiMode"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_about"
            android:theme="@style/AppTheme.About">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TimingSwitchActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_timingswitch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--        start快捷切换活动-->
        <activity
            android:name=".activity.SwitchDarkModeActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_dark_mode"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_dark_mode_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwitchForceDarkActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_force_dark"
            android:label="@string/name_switch_force_dark"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_force_dark_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwitchBatterySaverActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_battery_saver"
            android:label="@string/name_switch_battery_saver"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_battery_saver_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwitchGrayScaleActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_gray_scale"
            android:label="@string/name_switch_gray_scale"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_gray_scale_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwitchInvertColorsActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_invert_colors"
            android:label="@string/name_switch_invert_colors"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_invert_colors_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwitchNightDisplayActivity"
            android:configChanges="uiMode"
            android:icon="@mipmap/ic_launcher_night_display"
            android:label="@string/name_switch_night_display"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_night_display_round"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.XFeatureActivity"
            android:label="@string/title_xfeature"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>


        <!--        end快捷切换活动-->


        <!--        start磁贴-->
        <service
            android:name=".service.tiles.SwitchDarkModeTile"
            android:icon="@drawable/ic_qs_dark_mode"
            android:label="@string/title_dark_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.tiles.SwitchForceDarkTile"
            android:icon="@drawable/ic_qs_force_dark"
            android:label="@string/title_force_dark"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.tiles.SwitchBatterySaverTile"
            android:icon="@drawable/ic_qs_battery_saver"
            android:label="@string/title_battery_saver"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.tiles.SwitchGrayScaleTile"
            android:icon="@drawable/ic_qs_gray_scale"
            android:label="@string/title_gray_scale"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.tiles.SwitchInvertColorsTile"
            android:icon="@drawable/ic_qs_invert_colors"
            android:label="@string/title_invertcolors"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.tiles.SwitchNightDisplayTile"
            android:icon="@drawable/ic_qs_night_display"
            android:label="@string/title_night_display"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <!--        end磁贴-->


        <!--        start微件-->
        <receiver android:name=".receiver.widgets.SwitchDarkModeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_dark_mode" />
        </receiver>
        <receiver
            android:name=".receiver.widgets.SwitchForceDarkWidget"
            android:label="@string/name_switch_force_dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_force_dark" />
        </receiver>
        <receiver
            android:name=".receiver.widgets.SwitchBatterySaverWidget"
            android:label="@string/name_switch_battery_saver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_battery_saver" />
        </receiver>
        <receiver
            android:name=".receiver.widgets.SwitchGrayScaleWidget"
            android:label="@string/name_switch_gray_scale">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_gray_scale" />
        </receiver>
        <receiver
            android:name=".receiver.widgets.SwitchInvertColorsWidget"
            android:label="@string/name_switch_invert_colors">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_invert_colors" />
        </receiver>
        <receiver
            android:name=".receiver.widgets.SwitchNightDisplayWidget"
            android:label="@string/name_switch_night_display">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_switch_night_display" />
        </receiver>
        <!--        end微件-->

        <!--        常驻通知服务-->
        <service android:name=".service.NotificationService" />

        <receiver
            android:name=".receiver.TimingSwitchReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.MyPreferenceProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposeddescription" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>